In [1]:
import seaborn as sns

In [40]:
df = sns.load_dataset('titanic')[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'alone']]
cols = ['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'alone']
df.sex = df.sex.astype('category')
df.alone = df.alone.astype('category')
df.pclass = df.pclass.astype('category')
df.parch = df.parch.astype('category')
df.sibsp = df.sibsp.astype('category')

In [41]:
# df.sex = df.sex.astype('category').cat.codes
# df.alone = df.alone.astype('category').cat.codes
# df.age = df.age.fillna(df.age.median(skipna=True))

In [42]:
import pandas as pd

In [43]:
pd.get_dummies(df)

     survived   age     fare  ...  parch_6  alone_False  alone_True
0           0  22.0   7.2500  ...        0            1           0
1           1  38.0  71.2833  ...        0            1           0
2           1  26.0   7.9250  ...        0            0           1
3           1  35.0  53.1000  ...        0            1           0
4           0  35.0   8.0500  ...        0            0           1
..        ...   ...      ...  ...      ...          ...         ...
886         0  27.0  13.0000  ...        0            0           1
887         1  19.0  30.0000  ...        0            0           1
888         0   NaN  23.4500  ...        0            1           0
889         1  26.0  30.0000  ...        0            0           1
890         0  32.0   7.7500  ...        0            0           1

[891 rows x 24 columns]